.text-width {
    width: 35ch;
}

//hero

.blue-backdrop {
    position: absolute;
    inset-block-end: 0;
    inset-inline-end: 0;
    z-index: -1;
    width: 60vw;
    margin-inline-end: calc(-50vw + 20%);
}

.hero-btn-main:hover,
.hero-btn-main:focus {
    cursor: pointer;
    border: 1px solid var(--clr-blue-600);
    background-color: transparent;
    color: var(--clr-blue-600);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.hero-btn-second:hover,
.hero-btn-second:focus {
    cursor: pointer;
    border: 1px solid var(--clr-blue-950);
    background-color: transparent;
    color: var(--clr-blue-950);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

// features

.blue-backdrop-feature {
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 0;
    z-index: -1;
    width: 60vw;
    margin-inline-start: calc(-50vw + 50%);
}

.features-btn:hover {
    cursor: pointer;
    color: var(--clr-red-400);
}

.active-selection {
    &::after {
        content: '';
        background: var(--clr-red-400);
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        width: 100%;
        border-radius: .5rem;
    }
}

.content {
    display: none;
}

.active-content {
    display: grid;
    place-items: center;
    gap: 1rem;
}

// extension card

.card-shadow {
    box-shadow: 2px 4px 10px 0px rgba(183, 183, 183, 0.35);
}

.add-extension-btn:hover,
.add-extension-btn:focus {
    cursor: pointer;
    border: 1px solid var(--clr-blue-600);
    background-color: transparent;
    color: var(--clr-blue-600);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

// faq

.up-arrow {
    transform: rotate(180deg);
    object-fit: contain;
    width: 100%;
    max-width: 1rem;
    height: auto;
}

.faq-btn:hover {
    cursor: pointer;
    color: var(--clr-red-400);
}

.faq-btn:focus > .up-arrow {
    filter: hue-rotate(120deg);
}

// footer

.footer-li:hover {
    cursor: pointer;
    color: var(--clr-red-400);
}

.footer-img-div:hover > img {
    filter: invert(100%) sepia(100%) saturate(10000%) hue-rotate(90deg) brightness(100%) contrast(100%);
}

.error-state {
    border: 3px solid var(--clr-red-400);
}

//tablet and desktop screens
@media (min-width: 48rem) {

    .text-width {
        margin: 0;
    }

    .grid-layout {
        display: grid;
        column-gap: 2rem;
        grid-template-columns: minmax(2rem, 1fr) minmax(0, 70rem) minmax(2rem, 1fr);
        grid-template-areas: 
            '. nav .'
            '. hero .'
            '. features .'
            '. extensions .'
            '. faq .'
            'footer footer footer'
        ;
    }

    .grid-layout > .nav {
        grid-area: nav;
    }

    .grid-layout > .hero {
        grid-area: hero;
    } 

    .grid-layout > .features {
        grid-area: features;
    }

    .grid-layout > .extensions {
        grid-area: extensions;
    } 

    .grid-layout > .faq {
        grid-area: faq;
    } 

    .grid-layout > .footer {
        grid-area: footer;
    }

    .active-content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
}