.menu {
    position: absolute;
    z-index: 1;
    width: 100%;
    inset-block-start: 0;
    inset-inline-start: 0;
    height: 100vh;
}


.menu-btn {
    width: 1rem;
    height: 1rem;
    background: transparent;
    background-image: url(/icon-close.svg);
    background-size: cover;
}